{% extends "base.html" %}
{% block content %}


    <div>
        <a  href="#">ECE1779</a>
    </div>
    <div>
        <ul>
            <li><a> {{ user_name }} </a></li>
            <li><a href="{{ url_for('users.logout') }}"> Log out </a></li>
        </ul>

    </div>


    <br>
    <div id='photos'>
        <div class="row">
            {% for image in image_list %}
                <div>
                    <img src="../static/{{ image }}">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}