<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/base.css">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
        .custom-form {
            background-color: #CDC1C5;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;
            margin-left: 500px;
            margin-right: 500px;
        }
    </style>

</head>
<body>
<ul class="nav">
    <li style="float: left"><a href="{{ url_for('view.home_page') }}">Home</a></li>
    <li style="float: right"><a class="active" href="{{ url_for('users.login') }}">Log In</a></li>
    <li style="float: right"><a class="active" href="{{ url_for('users.register') }}">Sign Up</a></li>
</ul>

<div class="custom-form">
    {% block content %}
        <form method="POST">
            {# This hidden_tag is a CSRF security feature. #}
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username() }}<br>
            {{ form.password.label }} {{ form.password() }}<br>
            {{ form.submit() }}
        </form>
    {% endblock %}
</div>
</body>
</html>


