<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/base.css">
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>
        <style>
            h1 {
                background-color: powderblue;
                color: blue;
                text-align: center;
                border: 3px solid green;
                padding: 60px;
                margin: 80px;
                line-height: 1.6em
            }

        </style>
        Logged Out<br>

    </h1>

</body>
</html>