<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/base.css">
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<ul class="nav">
    <li style="float: left"><a class="active" href="{{ url_for('view.home_page') }}">Home</a></li>
    <li style="float: right"><a class="active" href="{{ url_for('users.login') }}">Log In</a></li>
    <li style="float: right"><a class="active" href="{{ url_for('users.register') }}">Sign Up</a></li>
</ul>
<h1>
    <style>
        h1 {
            background-color: powderblue;

            text-align: center;
            border: 3px solid green;
            padding: 60px;
            margin: 80px;
            line-height: 1.6em
        }

    </style>
    Logged Out<br>

</h1>

</body>
</html>